.mealSummery{
    
    width: 40%;
    height: 30vh;
    position: absolute;
    background-color: rgb(100, 111, 121);
    left: 60vh;
    top: 35vh;
    overflow: hidden;
    box-shadow: 10px 2px 13px 10px rgba(0,0,0,0.67);
    
    border-radius: 30px;
    @media (width < 700px) {
        width: 60%;
        left: 17vh;
        
    }
}
.mealSummery h1{
    display: flex;
    
    font-weight: 800;
    margin-left: 9vh;
    font-size: 27px;
    @media (width < 800px) {
        font-size: 18px;
    }
}
.mealSummery p{
    font-size: 12px;
    color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
}