.inputT{
    display: flex;
  
    background-color: white;
    padding: 4px 30px;
    gap: 15px;

}
.inputT input{
    width: 30%;
    display: flex;
 
  
  border: 2px solid rgb(116, 80, 14);
   
    

}
.inputT label{
    font-size: 19px;
    color: rgba(29, 8, 8, 0.63);
    font-family: cursive;
    font-weight: 600;
}